body {
    width: 100vw;
    height: 100dvh;
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom right, rgb(65, 65, 255), rgb(73, 158, 255));
    background-repeat: no-repeat;
    overflow: hidden;
}

#game {
    position: absolute;
    width: 100vw;
    height: 100dvh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#correct-or-incorrect {
    position: absolute;
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

#correct-or-incorrect.show {
    opacity: 1;
    pointer-events: auto;
}

#container-expression {
    border: solid 8px rgb(79, 161, 255);
    border-radius: 20px;
    display: flex;
    width: max-content;
    padding: 20px 40px;
    margin: 120px 20px;
    background-color: white;
    width: 70%;
    height: 10vh;
    align-items: center;
}

#container-expression div {
    height: max-content;
    display: flex;
    justify-content: center;
    width: 18%;
    max-width: 738px;
    font-size: clamp(3rem,4vw,4rem);
    transition: transform ease 0.4s;
}

#container-expression div:hover {
    transform: scale(1.25);
    cursor: pointer;
}

#container-expression div#risult-container:hover {
    transform: scale(1);
    cursor: auto;
}

button {
    border-radius: 30px;
    color: white;
    border: none;
    width: 228px;
    max-width: 265px;
    min-width: 228px;
    aspect-ratio: 12/4;
    font-size: 1.5rem;
    cursor: pointer;
    filter: brightness(0.9);
    transition: transform ease 0.4s, filter ease 0.4s;
}

button:hover {
    transform: scale(1.15);
    filter: brightness(1);
}

button#confirm-button {
    background: linear-gradient(to bottom right, rgb(87, 255, 87), rgb(18, 148, 18));
}

button#refresh-button {
    background: linear-gradient(to bottom right, rgb(88, 194, 255), rgb(0, 124, 181));
}

#user-input-result {
    width: clamp(70px,70%,140px);        
    height: clamp(70px,50%,90px);       
    padding: 8px;     
    margin-left: 20px;  
    box-sizing: border-box; 
    font-size: clamp(3rem,4vw,4rem);
    justify-content: center;
    border: solid 2px rgba(67, 197, 241, 0.134);
    border-radius: 10px;
    transition: border ease 0.4s;
}

#user-input-result:hover, #user-input-result:focus {
    border: solid 2px rgb(18, 186, 241);
    outline: none;
}